.pie-chart-container {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: 20px;
    justify-items: center;
    
  }
  
  h2 {
    margin-bottom: 20px;
  }


.pie-chart-wrapper {
    width: 600px; /* Set the width of the chart */
    height: 600px; /* Set the height of the chart */
    display: flex;

  }